/* css variables */
:root {
    --color-accent: #5eead4;
    --color-highlight: #e2e8f0;
    --background-accent: rgba(45, 212, 191, .1);
}

html {
    scroll-behavior: smooth;
}

* {
    /* border contained within the width */
    box-sizing: border-box;
    /* reset defaults */
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
}

body {
    /* set basic colors of everything */
    background: #0f172a;
    color: #94a3b8;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 6rem;
}

p {
    line-height: 1.5rem;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    background: var(--color-accent);
    color: #0f172a
}

.underlay {
    position: fixed;
    background: #172554;
    inset: 0;
    opacity: 0.15;
}

header,
main,
footer {
    position: relative;
    /* higher z index is closer to user */
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

header h1,
header h4,
.lightText {
    color: var(--color-highlight);
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: 600;
}

nav {
    display:none;
}

nav a {
    font-size: 0.9rem;
}

.social-link-container {
    display: flex;
    align-item: center;
    gap: 1rem;
}

.social-link {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    transition-duration: 200ms;
}

.social-link:hover {
    color: var(--color-highlight)
}

header h4 {
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h2,
.experience-card h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:500;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
}

.sticky-header h2 {
    position: relative;
    z-index: 2;
}

.sticky-header::before {
    content: ''; /*fake html element with content empty*/
    position: absolute;
    inset: 0;
    background: #101A31;
    opacity: 0.8;
}

.about-contents {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.about-contents p {
    font-size: 1.1rem;
}

.anchor-text {
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 500ms;
}

.anchor-text:hover {
    color: var(--color-accent);
}

.experience-contents,
.project-contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience-card,
.project-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

}

.experience-card {
    gap: 0.5rem;
}

.project-card {
    gap: 1rem;
}



.card-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tenure {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.experience-card p {
    font-size: 0.9rem;
}

.card-header {
    font-weight: 400;
    font-size: 1rem;
}

.anchor-icon {
    padding-left: .5rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    /* horizontal value is first, second value is vertical for rem. */
    gap: 0.5rem;
    color: var(--color-accent);

}

.tag {
    border-radius: .9rem;
    padding: 0.25rem .5rem;
    background: var(--background-accent);
}

.tag p { 
    font-size: 0.8rem;
}

.project-image-container {
    max-width: 200px;
    overflow: hidden;
    display: flex;
    place-items: center;
    flex-direction: column;
    aspect-ratio: 16 / 9;
    /* in a grid display, we can specify order. Smaller value order comes first(top) */
    order: 2;
    border-radius: 0.25rem;
}

.project-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

}

.project-stat-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.project-archive-link {
    position: relative;
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 500ms;
    margin-right: auto; 
}

.project-archive-link span {
    transition-duration: 200ms;
}

.project-archive-link:hover span {
    padding-left: .5rem;
}

.project-archive-link::after {
    /* sits in context to the parent which is the project-archive-link */
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    background: transparent;
    transition-duration: 200ms;

}

.project-archive-link:hover::after {
    background: var(--color-accent);
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

footer p {
    font-size: 0.9rem;
}

.scroll-to-top {
    text-decoration: none;
    color: var(--color-accent);
    background: var(--background-accent);
    padding: 0 0.75rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 100%;
    overflow: hidden;
    transition-duration: 200ms;

}

.scroll-to-top:hover {
    opacity: 0.6;
}

@media (min-width: 640px) {

    .project-card,
    .experience-card {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .card-column {
        grid-column: span 3 / span 3;
    }

    .project-image-container {
        order: 0;
    }

    header {
        max-width: 300px;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.4rem;
    }

    header p {
        max-width: 300px;
    }
}

@media (min-width: 1024px) {
    body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        padding: 6rem;
        padding-top: 0;
    }

    header {
        position: sticky;
        top: 0;
        margin-left: auto;
        height: 100vh;
        padding-bottom: 6rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.4rem;
    }

    header p {
        max-width: 300px;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: .5rem;
    }

    nav a {
        font-size: 1rem;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    header,
    main {
        padding-top: 6rem;
        max-width: 600px;
        width: 100%;
    }

    main {
        margin-right: auto;
    }

    .sticky-header {
        display: none;
    }

    footer {
        grid-column: span 2 / span 2;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
}