/* css variables */
:root {
    --color-accent: #5eead4;
    --color-highlight: #e2e8f0;

}


* {
    /* border contained within the width */
    box-sizing: border-box;
    /* reset defaults */
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
}

body {
    /* set basic colors of everything */
    background: #0f172a;
    color: #94a3b8;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 6rem;
}

p {
    line-height: 1.5rem;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    background: var(--color-accent);
    color: #0f172a
}

.underlay {
    position: fixed;
    background: #172554;
    inset: 0;
    opacity: 0.15;
}

header,
main,
footer {
    position: relative;
    /* higher z index is closer to user */
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

header h1,
header h4,
.lightText {
    color: var(--color-highlight);
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: 600;
}

header h4 {
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h2,
.experience-card h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:500;
}

.about-contents {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.about-contents p {
    font-size: 1.1rem;
}

.anchor-text {
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 500ms;
}

.anchor-text:hover {
    color: var(--color-accent);
}

.experience-contents,
.project-contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience-card,
.project-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

}

.experience-card {
    gap: 0.5rem;
}

.project-card {
    gap: 1rem;
}



.card-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tenure {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.experience-card p {
    font-size: 0.9rem;
}

.card-header {
    font-weight: 400;
    font-size: 1rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    /* horizontal value is first, second value is vertical for rem. */
    gap: 0.5rem;
    color: var(--color-accent);

}

.tag {
    border-radius: .9rem;
    padding: 0.25rem .5rem;
    background: rgba(45, 212, 191, .1);
}

.tag p { 
    font-size: 0.8rem;
}

.project-image-container {
    max-width: 200px;
    overflow: hidden;
    display: flex;
    place-items: center;
    flex-direction: column;
    aspect-ratio: 16 / 9;
    /* in a grid display, we can specify order. Smaller value order comes first(top) */
    order: 2;
}

.project-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;

}

.project-stat-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.project-archive-link {
    position: relative;
}